<div class="testimonial-block carousel-item text-center">
    <img class="mb-4 rounded-pill" src="{{ block.block_image | image_url }}" alt="{{ block.name }}" width="60" height="60">
    <div class="mb-4 secondary">{{ block.block_text }}</div>
    <h4>{{ block.name }}</h4>
    <h5>{{ block.description }}</h5>
</div>

<style>
    .testimonial-block > img {
        width: 60px;
        height: 60px;
        overflow: hidden;
    }
    
    @media only screen and (min-width: 992px) {
        .testimonial-block > img {
            width: 90px;
            height: 90px;
            overflow: hidden;
        }
    }
</style>

    
{% schema %}
{
    "name": "Testimonial Block",
    "settings": [
        {
            "type": "image_picker",
            "id": "block_image",
            "label": "Author Image",
            "default": ""
        },
        {
            "type": "richtext",
            "id": "block_text",
            "label": "Testimonial Text",
            "default": ""
        },
        {
            "type": "text",
            "id": "name",
            "label": "Author Name",
            "default": ""
        },
        {
            "type": "text",
            "id": "description",
            "label": "Author Description",
            "default": ""
        }
    ]
}
{% endschema %}